body {
    font-family: 'Segoe UI', cursive;
    margin: 0 5vw;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
}

/* NAVBAR */

nav ul {
    margin: 0;
    padding: 5px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

nav li {
    padding: 8px 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #262626;
}

nav a:hover {
    border-bottom: 2px solid black;
}

.signIn {
    max-width: 24px;
    max-height: 24px;
}

.microsoft {
    height: 23px;
    width: 108px;
}

/* Corona Help Link  */
.covid {
    margin: 0;
    background-color: #0067B8;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 1.9vh 0;
    font-size: 13px;
}

.covid:hover {
    text-decoration: underline;
    border: 2px dotted white;
}

.covid a {
    color: white;
    text-decoration: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  visibility: hidden;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    visibility: visible;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* The dots/bullets/indicators */
.dot {
  position: relative;
  bottom: 60px;
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: black;
  border-radius: 34%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.carousel-images {
  width: 100%;
}

.slideshow-container h1 {
  font-size: 45px;
  font-weight: 500;
  margin: 0;
  position: absolute;
  top: 34%;
  left: 6%;
}

.slideshow-container p {
  font-size: 15px;
  margin: 0;
  position: absolute;
  top: 48%;
  left: 6%;
}

.slideshow-container button {
  padding: 10px 27px;
  background-color: black;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 6%;
}

.slideshow-container button:hover {
  text-decoration: underline;
}

/* Products */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-items {
  margin: 20px 30px;
  width: 120px;
}

.product-items img {
  margin: 2px auto;
}

.product-items p {
  margin: 0;
  font-weight: 500;
  cursor: pointer;
}


.product-items p:hover {
  text-decoration: underline;
}
